<!-- ft = footer -->
<div ng-controller="FooterController as footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="list-no-bullet list-no-padding-left">
                        <span>About</span>
                        <li ng-repeat="state in footer.states">
                            <a class="footer-link" ui-sref="{{state.name}}" ng-bind="state.display"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
