<!-- ds = "dashboard" -->
<div>
    <div id="ds_header_div">
        Welcome <span>{{dashboard.currentUser.firstname + ' ' + dashboard.currentUser.lastname}}</span>
    </div>
    <div id="hm_items_div" class="container">

        <div ng-repeat="state in dashboard.states" class="col-xs-4 col-sm-3">
            <div class="thumbnail img-responsive tile-size">
                <a ui-sref="{{state.name}}"><img class="tile-image" ng-src="{{state.icon}}"><span ng-bind="state.display"></span></a>                
            </div>
        </div>

        <!--<div class="thumbnail img-responsive tile-size">
            <a ui-sref="user-profile({userId:'fooVal1', mode:'edit'})"><img class="tile-image"><span>my profile test</span></a>
        </div>-->
    </div>
</div>