<!-- ds = "dashboard" -->
<div>
    <div id="ds_header_div">
        Welcome <span>{{dashboard.currentUser.firstname + ' ' + dashboard.currentUser.lastname}}</span>
    </div>
    <div id="hm_items_div" class="container text-center">

        <div ng-repeat="state in dashboard.states" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail img-responsive tile">
                <a ui-sref="{{state.name}}">
                    <img class="tile-image" ng-src="{{state.data.dashboard.icon}}">
                </a>
            </div>
            <div class="tile-caption dashboard-{{state.display}}">
                <span ng-bind="state.display"></span>
            </div>
        </div>
    </div>
</div>