<div class="container user-profile-list">
    <div>
        <button class="btn btn-sm btn-primary user-profile-list-create-button" ng-click="create()">Create new user</button>
        <h2>Users</h2>
    </div>
    
    <div>
        <input class="user-profile-list-search-input" type="search" class="input-text-default">
        <button class="btn btn-sm btn-primary" ng-click="search()">Search</button>
    </div>

    <div dir-paginate="user in userProfileList.users | itemsPerPage: 2" 
         total-items="userProfileList.totalUsers" 
         current-page="userProfileList.pagination.current" 
         class="user-profile-list-item">

        <div class="user-profile-list-name-div">
            <span ng-bind="user.fullname"></span>
            <span ng-bind="user.userRole" class="user-profile-list-admin"></span>
        </div>
        <span class="user-profile-list-logged-in-span">
            Last logged in: {{user.lastLoggedInDateTime | date:'MMMM dd yyyy, HH:mm'}}
        </span>
    </div>

    <dir-pagination-controls on-page-change="userProfileList.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>