.user-profile-list {
    width:100%;
}

.user-profile-list-create-button {
    float: right;
}

.user-profile-list-search-input {
    border: 1px solid #cccccc;
    width: 75%;
    max-width: 350px;
}

.user-profile-list-item {
    border-bottom: 1px solid #cccccc; 
    color: @app-font-color; 
    min-height:60px; 
    padding:8px 5px 8px 5px;
    max-width:400px;
}

.user-profile-list-name-div {
    width:100%; 
    max-width:400px;
    
}

.user-profile-list-admin {
    font-size: @font-size-small;
    float:right;
}

.user-profile-list-logged-in-span {
    font-size: @font-size-small;
}