<div class="container user-profile-list">
    <div>
        <button class="btn btn-sm btn-primary user-profile-list-create-button" ng-click="create()">Create new user</button>
        <h2>Users</h2>
    </div>
    
    <div>
        <input class="user-profile-list-search-input" type="search" class="input-text-default">
        <button class="btn btn-sm btn-primary" ng-click="search()">Search</button>
    </div>

    <div style="border-bottom: 1px solid #cccccc; color:#808080; min-height:60px; padding:8px 5px 8px 5px;">
       <div style="width:100%; max-width:400px;">
           <span>Mui Faktang</span>
           
       <span style="font-size:12px;float:right;">admin</span></div>
        <span style="font-size:12px;">Last logged in: 15/05/2015 15:00</span>
    </div>

    <div style="border-bottom: 1px solid #cccccc; color:#808080; min-height:60px; padding:8px 5px 8px 5px;">
       <div style="width:100%; max-width:400px;">
           <span>Alan Green</span>
           
       <span style="font-size:12px;float:right;">parent</span></div>
        <span style="font-size:12px;">Last logged in: 15/05/2015 15:00</span>
    </div>

    <div style="border-bottom: 1px solid #cccccc; color:#808080; min-height:60px; padding:8px 5px 8px 5px;">
       <div style="width:100%; max-width:400px;">
           <span>Joe Smith</span>
           
       <span style="font-size:12px;float:right;">admin</span></div>
        <span style="font-size:12px;">Last logged in: 15/05/2015 15:00</span>
    </div>

    <div style="border-bottom: 1px solid #cccccc; color:#808080; min-height:60px; padding:8px 5px 8px 5px;">
       <div style="width:100%; max-width:400px;">
           <span>Jackson Black</span>
           
       <span style="font-size:12px;float:right;">parent</span></div>
        <span style="font-size:12px;">Last logged in: 15/05/2015 15:00</span>
    </div>

    <div style="border-bottom: 1px solid #cccccc; color:#808080; min-height:60px; padding:8px 5px 8px 5px;">
       <div style="width:100%; max-width:400px;">
           <span>Black Pool</span>
           
       <span style="font-size:12px;float:right;">educator</span></div>
        <span style="font-size:12px;">Last logged in: 15/05/2015 15:00</span>
    </div>
</div>