<div class="container user-profile-list">
    <div>
        <button class="btn btn-sm btn-primary user-profile-list-create-button" ng-click="vm.create()">Create new user</button>
        <h2>Users</h2>
    </div>
    
    <div>
        <input class="user-profile-list-search-input" type="search" class="input-text-default">
        <button class="btn btn-sm btn-primary" ng-click="search()">Search</button>
    </div>

    <div class="user-profile-list-item" ng-click="vm.showDetails(user)"
         dir-paginate="user in vm.users | itemsPerPage: vm.itemsPerPage"
         total-items="vm.totalUsers"
         current-page="vm.pagination.current">

        <div class="user-profile-list-name-div">
            <span ng-bind="user.fullname"></span>
            <span ng-bind="user.userRole" class="user-profile-list-admin"></span>
        </div>
        <span class="user-profile-list-logged-in-span">
            Last logged in: {{user.lastLoggedInDateTime | date:'MMMM dd yyyy, HH:mm'}}
        </span>
    </div>

    <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>