<div class="container">
        
    <h2>Profile</h2>

    <pcd-expandable-container data-header="Personal Details">
        <pcd-entity-detail-container update-fn="updateFn()">
            <div data-detail default data-mode="show">
                <table class="table-views">
                    <thead>
                        <tr class="table-views-thead-tr">
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label-inline">First Name:</td>
                            <td class="label-inline">{{currentUser.firstname}}</td>
                        </tr>
                        <tr>
                            <td class="label-inline">Last Name:</td>
                            <td class="label-inline">{{currentUser.lastname}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-detail data-mode="edit">
                <div>
                    <label class="label-block">First Name</label>
                    <input type="text" ng-model="currentUser.firstname" class="input-text-default">
                    <label class="label-block">Last Name</label>
                    <input type="text" ng-model="currentUser.lastname" class="input-text-default">
                </div>
            </div>
        </pcd-entity-detail-container>
    </pcd-expandable-container>
        
    <pcd-expandable-container data-header="Login">
        <pcd-entity-detail-container update-fn="updateFnB()">
            <div data-detail default data-mode="show">
                <table class="table-views">
                    <thead>
                        <tr>
                            <th class="table-views-thead-tr"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label-inline">Email:</td>
                            <td class="label-inline">{{currentUser.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-detail data-mode="edit">
                <div>
                    <label class="label-block">Email</label>
                    <input type="text" ng-model="currentUser.email" class="input-text-default">
                </div>
            </div>
        </pcd-entity-detail-container>
    </pcd-expandable-container>
</div>